* {
    margin: 10px 10px;;
}

.marvel-card {
    width: 30%;
    height: auto;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img {
    width: 80%;
    height: auto;
}

.marvel-hero {
    text-align: center;
    font-weight: bold;
}